<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!--Links-->
    <%- include('partials/links') %>
    <link rel="stylesheet" href="/css/add-contact.css" />
  </head>
  <body>
    <div class="container">
      <!--Heading-->
      <%- include('partials/heading') %>
      <div class="content">
        <div class="card">
            <% for(var i=0; i < data.length; i++) { %>
                <div class="minicard">
                    <h2>Name</h2>
                    <input type="text" class="insert" id="name" spellcheck="false" autocomplete="off"value="<%= data[i].name %>"/>
                </div>
                <div class="minicard">
                    <h2>Age</h2>
                    <input type="text" class="insert" id="age" spellcheck="false" autocomplete="off" value="<%= data[i].age %>"/>
                </div>
                <div class="minicard">
                    <h2>Email</h2>
                    <input type="text" class="insert" id="email" spellcheck="false" autocomplete="off" value="<%= data[i].email %>"
                    />
                    </div>
                <div class="minicard">
                    <h2>Number</h2>
                    <input type="text" class="insert" id="number" spellcheck="false" autocomplete="off" value="<%= data[i].number %>"/>
                </div>
                <input type="text" id="id" value="<%= data[i].id %>" hidden>
            <% } %>
        </div>
        <div class="content-btn">
          <button class="btn">Update Data</button>
        </div>
      </div>
    </div>
    <script src="/js/backend/update.js"></script>
  </body>
</html>
